body{
	background-image:url('1.jpg');
	background-size:100% 100%;
	/*background-repeat:no-repeat;*/
}
::-moz-selection {
	background-color: darkred;
	color: beige;
}
::selection {
	background-color: darkred;
	color: beige;
}
#divInConstant {
	visibility: hidden;
	opacity: 0;
	transition: opacity 2s ease;
	z-index:1;
	padding-top:7px;

}
#mainDiv {
	box-shadow: 5px 5px 10px   #000;
	position: relative;
	width: 980px;
	margin: auto;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 25px;
	border: 4px solid #663300;
	border-radius: 15px;
	background-color: wheat;
	opacity: 0.98;
}
#imperialDivBox, #metricDivBox {
	width: 490px;
	height: 264px;
	background-color: orange;
	font-size:x-large;
}
#metricDiv {
	padding-top: 10px;
	margin-top: -264px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 2s ease;
}
#imperialDiv {
	padding-top: 40px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 2s ease;
}
/*text-align aligns text and other inline content. It doesn't align block element children.*/
#resultDiv {
	background-color: burlywood;
	width: 100%;
	margin-top:45px;
}
#resultDiv p {
	text-align: center;
	font-size: 35px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;;
	width: 500px;
	height: 100px;
	margin-left: 250px;
}
#resultDiv p span {
	line-height: 90px;
}
#constant {
	height: 264px;
	width: 470px;
	background-color: gold;
	margin: -326px 0 0 500px;
}
#constant input {
	float: left;
	clear: left;
}
/*#imperialDiv input, #metricDiv input  {float:right; clear:right;}*/
#imperialDiv label, #metricDiv label {
	display: inline-block;
	width: 170px;
	text-align: right;
}
#imperialDiv p, #metricDiv p {
	padding: 5px 0;
	margin: 0;
}
#btnGender {
	position: relative;
	margin-top: 10px;
}

#genderMale {
	border-radius: 10px;
	width: 15%;
	height: 30px;
	font-size: large;
}
#genderFemale {
border-radius: 10px;
	width: 15%;
	height: 30px;
	font-size: large;
}

#unitsAre {
	font-size: xx-large;
	margin-top: -10px;
	text-align: center;
}


#constant label {
	display: block;
}
#pBtn {
	position: relative;
}
#unit1, #unit2, #unitsAre {
	border-radius: 10px;
	width: 15%;
	height: 30px;
	font-size: large;
	
}
#unit1:hover, #unit2:hover, #genderMale:hover , #genderFemale:hover {
	background-color:#009999;
	color:white;
}
#result {
	color: darkred;
}
